*{
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
}

h1 {
    background: linear-gradient(178deg, rgba(0, 0, 0, 0.842) 50%, rgba(11, 76, 255, 0.842) 70%);
    text-align: center;
    padding: 1rem;
    margin-bottom: .75rem;
    font-size: 4rem;
}

hr {
    border-color: black;
}

button {
    display: block;
    background-color: #e7e7e7;
    padding: 5px 2px;
    text-align: center;
    width: 100%;
}